.offers {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 140px 30px;
    background: #274c5b;
}

.offers__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.offers__titles {
    display: flex;
    flex-direction: column;
}

.offers__subtitle {
    font-family: "Yellowtail";
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
    color: #7eb693;
}

.offers__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    color: #ffffff;
}

.offers__line {
    display: flex;
    justify-content: center;
    gap: 20px;
}
